.championButtons{
	
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    
   
}
#firstChampItems{

	visibility: hidden;
}

.iconShrink{
    width:120px;
    height:120px;
}
@media(min-width:800px) {


#championTableHolder{
	margin:0px;
	padding-left:220px;
	min-width:720px;
	max-width:720px;
	}

.itemTableHolder{
	margin:0px;
	padding-left:220px;
	min-width:720px;
	max-width:720px;
	}
}