<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>champion </title>
	<link rel="stylesheet" type="text/css" href="partials/championButton.css">
	
	<link rel="stylesheet" type="text/css" href="partials/itemButton.css">
	<script src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="partials/tablevisibility.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	
</head>
	<body>
	
		<div id="championTableHolder">
			
			<table>
	
				<tbody>
	
					<tr>
	
						<td>
							<div class="buttonHolder">
								<button class="championButtons" id="firstChamp"><img class="iconShrink"  src="http://hydra-media.cursecdn.com/lol.gamepedia.com/0/01/LuxSquare.png?version=4aea602fccd47e1b9e9b7ab69589565d">
								</button>
							</div>
						</td>
	
					
	
						<td>
							<div class="buttonHolder">
								<button class="championButtons" id="secondChamp"><img class="iconShrink"  src="http://img1.wikia.nocookie.net/__cb20141013225503/leagueoflegends/images/1/13/AhriSquare_old.png">
								</button>
							</div>
						</td>
	
	
						<td>
							<div class="buttonHolder">
								<button class="championButtons"id="thirdChamp"><img class="iconShrink"  src="http://img2.wikia.nocookie.net/__cb20150402215403/leagueoflegends/images/4/4a/AsheSquare.png">
								</button>
							</div>
						</td>
	
	
						<td>
							<div class="buttonHolder">
								<button class="championButtons" id="fourthChamp"><img class="iconShrink"  src="http://img2.wikia.nocookie.net/__cb20150402215322/leagueoflegends/images/2/26/AmumuSquare.png">
								</button>
							</div>
						</td>
					
						
						<td>
							<div class="buttonHolder">
								<button class="championButtons" id="fifthChamp"><img class="iconShrink" src="http://img3.wikia.nocookie.net/__cb20150404100758/leagueoflegends/images/6/6f/AnnieSquare.png">
								</button>
							</div>
						</td>
	
					</tr>
					
					<tr>
						<td style="text-align:center">lux</td>
						<td style="text-align:center">ahri</td>
						<td style="text-align:center">ashe</td>
						<td style="text-align:center">amumu</td>
						<td style="text-align:center">annie</td>
					</tr>
				</tbody>
	
			</table>
			
			
			<!--this is a new table that will handle the item recognition and -->
			<!--there will be tables for each champ with item that lead to different locations this will be the first champ-->
			
			</div>

			<div id="firstitemTableHolder" class="itemTableHolder">
			
				<table id="firstChampItems">
		
					<tbody>
		
						<tr>
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll" id="firstChampFirstItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/1058.png">
									
									</a>
								</div>
							</td>
		
						
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="firstChampsecondItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3003.png">
									</a>
								</div>
							</td>
		
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="firstChampthirdItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3089.png">
									</a>
								</div>
							</td>
		
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="firstChampfourthItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3135.png">
									</a>
								</div>
							</td>
						
							
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="firstChampfifthItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3116.png">
									</a>
								</div>
							</td>
							
							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champSixthItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3151.png">
									</a>
								
								</div>
							</td>

							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champSeventhItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/3285.png">
									</a>
								
								</div>
							</td>
							

							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champeighthItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/3029.png">
									</a>
								
								</div>
							</td>
							

							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champNinthItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/3135.png">
									</a>
								
								</div>
							</td>


							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champTenthItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/3115.png">
									</a>
								
								</div>
							</td>
							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champEleventhItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/3165.png">
									</a>
								
								</div>
							</td>


							<td>
								<div class="itemButtonHolder">
									
									<a class="itemButtons page-scroll"  id="champEleventhItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/3174.png">
									</a>
								
								</div>
							</td>
						</tr>
						

						<tr>
							<td style="text-align:center">Ap1</td>
							<td style="text-align:center">Ap2</td>
							<td style="text-align:center">Ap3</td>
							<td style="text-align:center">Ap4</td>
							<td style="text-align:center">Ap5</td>
						</tr>
					</tbody>
		
				</table>
				
				
				
				<table id="secondChampItems">
		
					<tbody>
		
						<tr>
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll" id="firstItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/1058.png">
									
									</a>
								</div>
							</td>
		
						
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="secondItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3003.png">
									</a>
								</div>
							</td>
		
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="thirdItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3089.png">
									</a>
								</div>
							</td>
		
		
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="fourthItem" href="#testingScroll"><img class="itemiconShrink"  src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3135.png">
									</a>
								</div>
							</td>
						
							
							<td>
								<div class="itemButtonHolder">
									<a class="itemButtons page-scroll"  id="fifthItem" href="#testingScroll"><img class="itemiconShrink" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3116.png">
									</a>
								</div>
							</td>
		
						</tr>
						
						<tr>
							<td style="text-align:center">Ap1</td>
							<td style="text-align:center">Ap2</td>
							<td style="text-align:center">Ap3</td>
							<td style="text-align:center">Ap4</td>
							<td style="text-align:center">Ap5</td>
						</tr>
					</tbody>
		
				</table>
		</div>
		
		<div id="seconditemTableHolder" class="itemTableHolder">
			
				
		</div>
		<script src="jquery.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="tablevisibility.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>
	
	</body>
</html>