!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>item </title>
	<link rel="stylesheet" type="text/css" href="partials/championButton.css">
	
</head>
	<body>
		<div id="itemTableHolder">
			
			<table>
	
				<tbody>
	
					<tr>
	
						<td>
							<div class="itemButtonHolder">
								<button class="itemButtons"><img class="iconShrink"  src="http://hydra-media.cursecdn.com/lol.gamepedia.com/0/01/LuxSquare.png?version=4aea602fccd47e1b9e9b7ab69589565d">
								</button>
							</div>
						</td>
	
					
	
						<td>
							<div class="itemButtonHolder">
								<button class="itemButtons"><img class="iconShrink"  src="http://img1.wikia.nocookie.net/__cb20141013225503/leagueoflegends/images/1/13/AhriSquare_old.png">
								</button>
							</div>
						</td>
	
	
						<td>
							<div class="itemButtonHolder">
								<button class="itemButtons"><img class="iconShrink"  src="http://img2.wikia.nocookie.net/__cb20150402215403/leagueoflegends/images/4/4a/AsheSquare.png">
								</button>
							</div>
						</td>
	
	
						<td>
							<div class="itemButtonHolder">
								<button class="itemButtons"><img class="iconShrink"  src="http://img2.wikia.nocookie.net/__cb20150402215322/leagueoflegends/images/2/26/AmumuSquare.png">
								</button>
							</div>
						</td>
					
						
						<td>
							<div class="itemButtonHolder">
								<button class="itemButtons"><img class="iconShrink" src="http://img3.wikia.nocookie.net/__cb20150404100758/leagueoflegends/images/6/6f/AnnieSquare.png">
								</button>
							</div>
						</td>
	
					</tr>
					
					<tr>
						<td style="text-align:center">Ap1</td>
						<td style="text-align:center">Ap2</td>
						<td style="text-align:center">Ap3</td>
						<td style="text-align:center">Ap4</td>
						<td style="text-align:center">Ap5</td>
					</tr>
				</tbody>
	
			</table>
		</div>
	</body>
</html>