<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Veigar View</title>
		
		<link rel="stylesheet" type="text/css" href="css/apiChallenge.css">
	</head>
	<body>
		<div class="posterTitleHolder"><img src="css/league_posters/neonVeigar.png"></div>
		<a  href="http://gloriousgale.com/ApiChallenge/pageTwo.html"><img src="css/league_posters/frameVeigar.jpg" id="posterHolder" height="400" width="650"></a>
		
		<h4>Visit Veigar's Needlessly Large Theater to comparisons between the old (stats) of NLR and the new NLR</h4>
	</body>
</html>